@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Regular.woff") format("woff"),
    url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Bold.woff") format("woff"),
    url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Russo One";
  src: url("../../assets/fonts/RussoOne-Regular.woff2") format("woff2"),
    url("../../assets/fonts/RussoOne-Regular.woff") format("woff"),
    url("../../assets/fonts/RussoOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
