.header {
  background: #23a2d8;
  display: flex;
  justify-content: center;
}

.header__container {
  width: 1040px;
  display: flex;
}

.header__logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
}

.header__logo img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.header__logo p {
  font-family: "Russo One";
  font-size: 2.3rem;
  margin: 0;
}

.header__logo span {
  font-family: "Russo One";
  font-size: 2.3rem;
  color: #47d714;
}

.header__explanation {
  font-size: 1.5rem;
  color: #ffffff;
  width: 209px;
  margin: 0;
  display: flex;
  align-items: center;
  margin-right: 206px;
}

.header__telephone {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-decoration-line: underline;
  color: #ffffff;
}

.header__telephone img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.header__telephone p {
  font-size: 1.5rem;
  margin: 0;
}
